*{
  padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.logo{
  width: 120px!important;
  margin: 30px 0 0 30px;
  cursor: pointer;
}
.box-form {
  background: #FFFFFF;
  color: #000;
  margin: auto;
  margin-top: 100px;
  width: 50%;
  text-align: center;
  margin-bottom: 100px;
}
.box-form .tabs {
  background: #FFFFFF;
  height: 40px;
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  text-align: left;
}
.box-form .tabs li {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
}
.box-form .tabs li a {
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
  /* UI Properties */
  font: normal normal 600 30px Montserrat;
  letter-spacing: 0px;
  color: #777777;
  opacity: 0.6;
  text-decoration: none;
  float: left;
  padding: 12px 22px;
}
.box-form .tabs li a.active {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 20px 20px 0 0;
  /*text-decoration-line: underline;*/
  color: #1F97FF;
  opacity: 1;
}
.box-form .form-action {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 20px 20px 20px 20px;
  padding: 50px;
}
.box-form a {
  text-decoration: none;
  font: italic normal normal 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #1F97FF;
  opacity: 1;
}
.box-form a:hover {
  text-decoration: underline;
}
.box-form a:hover {
  text-decoration: underline;
  font: normal normal bold 18px/22px Montserrat;
}

.box-form form input[type=email], .box-form form input[type=password], .box-form form input[type=text] {
  width: 360px;
  height: 40px;
  margin-bottom: 20px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  border-radius: 33px;
  border: none;
  outline: none;
  text-indent: 20px;
  color: #000;
}
.box-form form input[type=password]{
  width: 280px;
  padding-right: 80px;
}

.mostra{
  display: inline-block;
  position: absolute;
  width: fit-content;
  color: #1F97FF;
  
  font: normal normal  14px/15px Montserrat;
  z-index: 10;
  margin-top: 11px;
  margin-left: -75px;
  cursor: pointer;
}
.mostra:hover{
  text-decoration: underline;
  font: normal normal bold 14px/15px Montserrat;
}
#footerLogin{
  margin: auto;
  width: 280px;
  margin-top: 10px;
}
#footerLogin input[type=checkbox], #footerLogin label{
  float: left;
}
#footerLogin a{
  float: right;
}
#footerLogin input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #1F97FF;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #1F97FF;
  border-radius: 6px;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #1F97FF;

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#footerLogin label{
  color: #707070CC;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 0;
  font-size: 15px;
  padding-left: 5px;
}
.dimenticata{
  font: italic normal 400 12px/16px Montserrat;
  letter-spacing: 0px;
  color: #1F97FF!important;
  opacity: 1;
  cursor: pointer;
}
#footerLogin .button {
  float: none;
  margin: auto;
  width: 150px;
  height: 45px;
  background: #1F97FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 37px;
  border: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.84px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 30px;
}

#footerLogin:hover .button:hover{
	width: 246px;
	height: 74px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 10px #00000029;
	border-radius: 37px;
	border:1px solid #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 0.84px;
	color: #1F97FF;
	cursor: pointer;
	opacity: 1;
}

#footerLogin:active .button:active{
	width: 246px; 
	height: 74px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 10px #00000029;
	border-radius: 37px;
	border: 6px solid #1F97FF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 0.84px;
	color: #1F97FF;
	cursor: pointer;
	opacity: 1;
}


#footerLogin .reg{
  width: 170px;
}
.box-form form input::-webkit-input-placeholder {
  text-align: left;
  font: italic normal 400 17px Montserrat;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  font: normal normal 400 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #343434;
  opacity: 1;
  padding-top: 6px;
  padding-bottom: 30px;
}
.box-form .show {
  display: block;
}
.box-form .hide {
  display: none;
}
#resL{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: none;
}
#resR{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: none;
}
#resE{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: none;
  margin-top: 30px;
  margin-bottom: -30px;
}
#resP{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: none;
  margin-top: 30px;
}
.succ{
  color: #58BF38;
  display: block!important;
}
.erro{
  color: #A53328;
  display: block!important;
}



/*********** POPUP ************/
#popup{
  backdrop-filter: blur(8px);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d55;
  padding-top: 420px;
}

/* Modal Content/Box */
.modal-content {
  display: block;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000029;
  border-radius: 41px;
  padding: 50px;
  margin: auto; /* 5% from the top, 15% from the bottom and centered */
  width: 400px; /* Could be more or less, depending on screen size */
  z-index: 2;
  transform: translateY(-50%);
}
.popClose{
  position: absolute;
  top: -20px;
  right: 41px!important;
  border-radius: 50%;
  padding: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000029;
  width: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #707070;
  cursor: pointer;
}
.popEmail{
  padding-right: 20px!important;
  margin-top: 40px;
  width: 95%!important;
}
.popButton{
  margin: auto;
  background: #1F97FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 37px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.84px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 20px;
  padding: 17px 45px 17px 45px;
}

.titlePop{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #5C5C5C;
}

@media (max-width: 650px){
  .modal{
    padding-top: 200px;
  }
  .modal-content {
    width: 90%;
    padding: 50px 0 50px 0;
    transform: translateY(0%);
  }
  .popEmail{
    width:70%!important;
  }
}
@media (max-width: 500px){
  .modal{
    padding-top: 100px;
  }
  .modal-content {
    padding: 50px 0 40px 0;
  }
  .titlePop{
    padding-left: 10px;
    padding-right: 10px;
  }
  .popEmail{
    width:80%!important;
  }
}

/********* NEW PASSWORD **********/
.ciao{
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #5C5C5C;
}

.textEmail{
  height: 34px;
  text-align: center;
  font: normal normal 600 17px/34px Montserrat;
  letter-spacing: 0px;
  color: #5C5C5C;
  opacity: 1;
  margin-bottom: 10px;
}
.reimposta{
  margin: auto;
  display: block;
  width: 150px;
  height: 45px;
  background: #1F97FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 37px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.84px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 20px;
}


/*********** TABLET *************/
@media (max-width: 980px){
  .box-form {
    width: 90%;
  }
  .box-form form input[type=email], .box-form form input[type=text] {
    width: 315px;
  }
  .box-form form input[type=password] {
    width: 235px;
  }
}




/*********** CELL-MEDIUM *************/
@media (max-width: 480px){
  .box-form .form-action {
    padding-left: 5px;
    padding-right: 5px;
  }
  .box-form .tabs {
    margin-bottom: 5px;
  }
  .box-form .tabs li a{
    font: normal normal 600 20px Montserrat;
  }
  #footerLogin a{
    margin-left: 10px!important;
    float: none;
  }
  #footerLogin a{
    font-size: 12px!important;
  }
}




/*********** CELL-SMALL *************/
@media (max-width: 400px){
  .logo{
    display: block;
    width: 120px!important;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
  }  
  .box-form form input[type=email], .box-form form input[type=text] {
    width: 260px;
  }
  .box-form form input[type=password] {
    width: 180px;
  }
  #footerLogin input[type="checkbox"] {
    margin-left: 10px;
  }
  #footerLogin a{
    margin-left: 10px!important;
    float: none;
  }
  #footerLogin a{
    font-size: 12px;
  }
  .box-form form input::-webkit-input-placeholder {
    text-align: left;
    font: italic normal 400 14px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
}